.notes {
	.logout-btn {
		color: #4a90e3;
		float: right;
		font-weight: 100;
		font-size: 10px;
		padding-top: 15px;
		cursor: pointer; 
	}

	thead {
		background-color: #e8ebed;
	}

	tbody tr {
		cursor: pointer;
	}
}

