<div class="login">
    <div class="container">
	    <div class="row">
        	<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        		<h2>Login</h2>
        		<form ng-submit="$ctrl.login()">
    	    		<div class="form-group">
    	    		  <label for="usr">Username: <span class="text-danger">*</span></label>
    	    		  <input type="text" class="form-control" id="usr" required ng-model="$ctrl.username">
    	    		</div>
    	    		<div class="form-group">
    	    		  <label for="pwd">Password: <span class="text-danger">*</span></label>
    	    		  <input type="password" class="form-control" id="pwd" required ng-model="$ctrl.password">
    	    		</div>
    	    		<!--<input type="submit" class="btn btn-primary" value="LOGIN >"></input>-->
							<input type="submit" class="btn btn-primary" value="LOGIN >"></input>
        		</form>

						<hr>
							<span class="btn btn-default" ng-click="$ctrl.register()">Create account</span>
        	</div>	
	    </div>
    </div>
</div>
